{% extends "base.html" %}

{% block content %}
    <h1>{{ league.name }}</h1>
    <button onclick="copyShareCode('{{ league.join_code }}')" type="button" class="button-primary">Copy Share Code
    </button>
    <div style="display: none" id="share-code-alert" class="alert alert-primary" role="alert">Share Code Copied!</div>
    <script>
        async function copyShareCode(text) {
            try {
                await navigator.clipboard.writeText(text);
                const copyAlert = document.getElementById("share-code-alert");
                copyAlert.style.display = "";

                setTimeout(() => {
                    copyAlert.style.display = "none";
                }, 2000);
            } catch (err) {
                console.error("Failed to copy text");
            }
        }
    </script>
    <table class="table .table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        {% for user in league.users.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user }}</td>
                <td>90</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
